
@font-face {
    font-family: 'bpg_arial';
    src: url('../fonts/BPGArial.eot');
    src: url('../fonts/BPGArial.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BPGArial.woff2') format('woff2'),
        url('../fonts/BPGArial.woff') format('woff'),
        url('../fonts/BPGArial.ttf') format('truetype'),
        url('../fonts/BPGArial.svg#BPGArial') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bpg_nino_mtavruli_bold';
    src: url('../fonts/BPGNinoMtavruli-Bold.eot');
    src: url('../fonts/BPGNinoMtavruli-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BPGNinoMtavruli-Bold.woff2') format('woff2'),
        url('../fonts/BPGNinoMtavruli-Bold.woff') format('woff'),
        url('../fonts/BPGNinoMtavruli-Bold.ttf') format('truetype'),
        url('../fonts/BPGNinoMtavruli-Bold.svg#BPGNinoMtavruli-Bold') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'BPG-Excelsior';
    src:url('fonts/BPG_Excelsior_2011.ttf');
    font-style:normal;
    font-weight:normal;
}



@font-face {
    font-family: 'BPG-Classic-2008';
    src: url('fonts/BPGClassic2008.eot');
    src: url('fonts/BPGClassic2008.eot?#iefix') format('embedded-opentype'),
        url('fonts/BPGClassic2008.woff') format('woff'),
        url('fonts/BPGClassic2008.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BPG-Classic';
    src: url('fonts/BPGClassicMedium.eot');
    src: url('fonts/BPGClassicMedium.eot?#iefix') format('embedded-opentype'),
        url('fonts/BPGClassicMedium.woff') format('woff'),
        url('fonts/BPGClassicMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url('fonts/nino_mtavruli/BPGNinoMtavruli.eot');
    src: url('fonts/nino_mtavruli/BPGNinoMtavruli.eot?#iefix') format('embedded-opentype'),
        url('fonts/nino_mtavruli/BPGNinoMtavruli.woff') format('woff'),
        url('fonts/nino_mtavruli/BPGNinoMtavruli.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BPG Nino Mtavruli Book';
    src: url('fonts/nino_mtavruli/BPGNinoMtavruliBook.eot');
    src: url('fonts/nino_mtavruli/BPGNinoMtavruliBook.eot?#iefix') format('embedded-opentype'),
        url('fonts/nino_mtavruli/BPGNinoMtavruliBook.woff') format('woff'),
        url('fonts/nino_mtavruli/BPGNinoMtavruliBook.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'BPG Nateli';
    src: url('fonts/nino_mtavruli/BPGNateli.eot');
    src: url('fonts/nino_mtavruli/BPGNateli.eot?#iefix') format('embedded-opentype'),
        url('fonts/nino_mtavruli/BPGNateli.woff') format('woff'),
        url('fonts/nino_mtavruli/BPGNateli.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}


@font-face{font-family:FontLarisome;
    src:url(../fonts/font-larisome-webfont.eot);
    src:url(../fonts/font-larisome-webfont.eot?#iefix)format('embedded-opentype'),
    url(../fonts/font-larisome-webfont.woff2)format('woff2'),
    url(../fonts/font-larisome-webfont.woff)format('woff'),
    url(../fonts/font-larisome-webfont.ttf)format('truetype'),
    url(../fonts/font-larisome-webfont.svg#_bpg_gelregular)format('svg');
    font-weight:400;font-style:normal}

.lari{display:inline-block;font:normal normal normal 14px/1 FontLarisome;
    font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;-webkit-transform:translate(0,0);
    -ms-transform:translate(0,0);transform:translate(0,0)
}
.lari-a:before,.lari-normal:before{
    content:'a'
}
.lari-b:before,.lari-bold:before{
    content:'b'
}
    .lari-bolder:before,.lari-c:before{
        content:'c'
}.lari-d:before,
.lari-narrow-sans:before{content:'d'}.lari-e:before,.lari-narrow-serif:before{content:'e'}.lari-f:before,.lari-thin-sans:before{content:'f'}.lari-g:before,.lari-thin-serif:before{content:'g'}.lari-h:before,.lari-serif:before{content:'h'}.lari-i:before,.lari-sans:before{content:'i'}.lari-j:before,.lari-narrow-sans-bold:before{content:'j'}.lari-k:before,.lari-narrow-sans-thin:before{content:'k'}.lari-comic:before,.lari-l:before,.lari-wtf:before{content:'l'}.lari-m:before,.lari-square-round:before{content:'m'}.lari-n:before,.lari-square-plain:before{content:'n'}.lari-o:before,.lari-square-narrow-plain:before{content:'o'}.lari-p:before,
.lari-square-narrow:before{
    content:'p'
}