.demo_changer{ 
    z-index: 9; 
    position: fixed;
    bottom: 50px;
    left: -226px;
}

 
.layout_styles ul li {
    list-style: outside none none;
    margin-bottom: 4px;
}
.layout_styles ul li a {
    margin-left: -18px;
    color: #383838;
    text-transform: capitalize;
}
.layout_styles ul li a:hover {
   text-decoration:underline;
}
.line {
    border-bottom: 1px solid #efefef;
    clear: both;
    margin: 20px !important;
}

.demo_changer span a {
    color: #332f2f;
    font-weight: 800;
    padding: 0;
    font-size: 13px;
    margin: 20px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
}


.demo_changer span a:hover,
.demo_changer span a:active {opacity:1; color:#7F7F7F;
}


.demo_changer .demo-icon {
    background: #fff none repeat scroll 0% 0%;
    cursor: pointer;
    float: right;
    height: 48px;
    width: 54px;
    border-radius: 1px;
    color: #222;
    font-size: 21px;
    box-shadow: 0px 1px 12px 0px rgba(41, 33, 33, 0.33);
	margin-top: 135px;
}
.demo_changer .demo-icon i {
    left: 17px;
    top: 9px;
    position: relative;
    color: #FFCD23;
    font-size: 25px;

}
.demo_changer .demo-icon:hover i{
	color: #5C5454;
}
.demo_changer .form_holder p {
    padding: 0px 20px;
    font-size: 13px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 900;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 
.demo_changer .form_holder {
    background: rgba(255, 255, 255, 0.55);
    float: right;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    width: 225px;
    overflow-y: auto;
    height: 25%;
}
 

.demo_changer .form_holder input{
    width: 55px;
	border-radius: 0 10px 10px 0;
	box-shadow: none;
}

.demo_changer .form_holder form{
    padding: 0 20px;
}

.color_display_2 {
   clear: both;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
	width:54px !important;
	height:54px;
    margin-bottom: 7px;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
}

.color_display_2 a{
    color: #fff;
    text-decoration: none;
}

.color_display_2 a:focus,
.color_display_2 a:hover {
    color: #ededed !important;
    text-decoration: none;
}


.predefined_styles{
    padding:0 20px;
}

.predefined_styles img {
  padding: 3px;
}



@media only screen and (max-width: 1024px) {
.demo_changer{
    display: none;
}
} 



